:root {
  --max-page-width: 1440px;

  --logo-Blue: #2ABAFD;
  --dark-blue:  #001534;
  --background-light: #e7e7ee;
  --foreground-light: #ffffff;
  --text-light: #ffffff;
  --text-dark: #222222;

  /*==========[Functional Variables]==========*/
  --page-background: var(--background-light);
  
  /*==========[Logo]==========*/
  --Loopis-logo-color: var(--text-dark);
  --loopis-news-text-color: var(--logo-Blue);

  /*==========[Header]==========*/
  --header-background: var(--dark-blue);
  --header-skipNavigation-bg: var(--background-light);
  --header-text-color: var(--text-light);

  /*==========[Home Page]==========*/
  --carrousel-text-color: var(--text-light);
  --carrousel-text-backdrop: #00000027;
  --carrousel-background-tint: var(--dark-blue);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background: var(--page-background);
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  max-width: var(--max-page-width);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

#header {
  background: var(--header-background);
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  position: sticky;
  top: 0;
  isolation: isolate;
}

#header::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100vw;
  left: calc((50vw - (var(--max-page-width) / 2)) * -1);
  background: var(--header-background);
  z-index: -1;
}

#headerSkipNavigation {
  height: calc(100% - 2rem);
  padding-inline: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 0;
  color: var(--text-dark);
  font-weight: 700;
  background: var(--header-skipNavigation-bg);
  opacity: 0;
  z-index: -99;
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#headerSkipNavigation:focus {
  opacity: 1;
  z-index: 99;
  pointer-events: all;
}

#header .logoArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

#header .logoArea .lnLogoImg {
  height: 2.25rem;
}

#header .logoArea .lnLogoText {
  color: var(--loopis-news-text-color);
  font-weight: 700;
  font-size: 2.25em;
}

#header .leftSideNavigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#header .rightSideNavigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: fit-content;
  width: 100%;
}

#header .headerPageLink {
  aspect-ratio: 1;
  height: 2.25rem;
  width: 2.25rem;
  padding: 0.25rem;
}

#header .leftSideNavigation .headerPageLink {
  stroke: var(--header-text-color);
}

#header .rightSideNavigation .headerPageLink {
  fill: var(--header-text-color);
}

#header .headerPageLink svg {
  aspect-ratio: 1;
  height: 100%;

  transform: translateY(-25%);
  translate: 0 25%;
  transition: transform 0.25s ease, translate 0.25s ease;
}

#header .headerPageLink:hover svg {
  transform: translateY(0);
  translate: 0 0;
  transition: transform 0.25s ease 0.15s, translate 0.25s ease;
}

.hidden {
  display: none;
}

#footer {
  margin-top: auto;
  background: var(--header-background);
  width: 100%;
  padding: 1rem;
  isolation: isolate;
  position: relative;
}

#footer::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100vw;
  left: calc((50vw - (var(--max-page-width) / 2)) * -1);
  background: var(--header-background);
  z-index: -1;
}

/*==========[--max-page-width]==========*/
@media screen and (max-width: 1440px) {
  #header::before, #footer::before {
    display: none !important;
  }
  
}