#page-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.87vh;
    background-color: #001534;
    z-index: -1; 
}

#page-header {
    display: flex;
    margin: 3.125vh 9.38vw;
    justify-content: space-between;
}

#loopis-news-logo {
    width: 15vw;
    height: auto;
}

#wrapper {
    display: flex;
    margin: 0 9.38vw;
}

main {
    margin-right: 2.22vw;
}

#main-news-image {
    width: 52.15vw;
    height: auto;
    border-radius: 10px;
}

#main-news {
    box-sizing: border-box;
    width: 52.15vw;
    background-color: #fff;
    padding: 3.125vh 4.44vw;
    margin-top:  1.5625vh;
    border-radius: 10px;
}

#main-news-info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #1B1F26;
    opacity: 72%;
    font-size: 0.9rem;
}

#main-news-description {
    margin: 0.78125vh 0;
    opacity: 72%;
    font-size: 1rem;
}

#main-news-content {
    margin-top: 3.125vh; 
    font-size: 1rem;
}

.sidebar-title {
    font-size: 1.25vw
}

.news-list {
    padding: 1.56vh 1.11vw;
    border-radius: 10px;
    margin-bottom: 1.56vh;
    background-color: #fff;
    list-style-type: none;
}

.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.56vh;
    cursor: pointer;
}

.news-image {
    width: 6.5vw;
    height: auto;
}

.news-info {
    margin-left: 0.56vw;
}

.news-title {
    font-size: 0.85vw;
}

@media (max-width: 1023px) {
    #sidebar {
        display:none;
    }

    main {
        margin: 0;
        width: 100%
    }

    #main-news-image {
        width: 100%;
    }

    #main-news {
        width: 100%;
    }

    #loopis-news-logo {
        width:  25.35vw;
        height: auto;
    }
}

@media (max-width: 479px) {
    .page-header-icon {
        width: 4.17vw;
    }

    #loopis-news-logo {
        width: 33.8vw;
        height: auto;
    }

    #wrapper {
        margin: 0;
        width: 100vw;
    }
}