header{
    background-color: #001534;
    padding: 25px 0px 25px 0px;
    display: flex;
}
.arrow_left{
    margin-right: auto;
    padding-left: 128px;
}
.arrow_left:hover{
    cursor: pointer;
}
.logoLoopis{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.campo-pesquisa{
    margin-top: 50px;
    text-align: center;
}
form input{
    width: 300px;
    height: 45px;
    outline: none;
    padding-left: 20px;
    background-color: #6D6D6D;
    border: none;
    color: white;
    font-size: 18px;
    margin-right: 0px;
    border-radius: 3px;
}
form input::placeholder{
    font-size: 18px;
    color: white;
}