header{
    background-color: #001534;
    padding: 10px;
    z-index: -1;
}

#logo{
    padding: 4px;
}

#body-conteudo{
    display: flex;
    flex-direction: column;
    margin: 3.125vh 22.38vw;
    justify-content: space-between;
}

#body-conteudo p{
    font-size: 1.2em;
}

section{
    margin: 1em;
    margin-bottom: 2em;
}

.titulo-secoes{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.linha img{
    width: 42px;
    height: 42px;

    position: relative;
    top: 20px;
    left: 10px;
}

.cartao {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 140px;
    height: 130px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cartao p{
    text-align: center;
}

/* Aplica o efeito na segunda linha de cartoes */
.linha:nth-child(3){
    padding-left: 15%;
    padding-right: 15%;
}

#caixa-branca{
    width: auto;
    height: 200px;
    border-radius: 10px;
    background-color: white;
}